---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/l-15217/q-?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<shrs>\n<rq
        url=\"http://api.simplyhired.com/a/jobs-api/xml_v2/l-15217\">\n  <t>Pittsburgh,
        PA 15217 Jobs</t>\n  <dt>2012-03-15T18:48:32Z</dt>\n  <si>0</si>\n  <rpd>10</rpd>\n
        \ <tr>32355</tr>\n  <tv>1000</tv>\n  <em url=\"\"/>\n<h>\n  <kw pos=\"1\"/>\n</h>\n</rq>\n<rs>\n<r>\n
        \ <jt>Truck Driver</jt>\n  <cn url=\"\">Army National Guard</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTUwJnN0YW1wPTIwMTItMDMtMTUgMTE6NDg6MzImcHVibGlzaGVyX2NoYW5uZWxfaWRzPSZhX2lkPTE3MjgxJmNfaWQ9MTM3MTYmY3BjPTIuMDEmcG9zPTEmaGFzaD05MmQ5MWU2N2UxYzk1MGI5NDU5ZTZiZDc5ODA0MzU1Mg%3D%3D%3B6d4fdec6b39ec57aff4a554221437c91/jobkey-c2f4be83d3698df6d68db81b03465c2520b4f/pub_id-41106/cjp-0\">Army
        National Guard</src>\n  <ty>sponsored</ty>\n  <loc cty=\"Pittsburgh\" st=\"PA\"
        postal=\"15206\" county=\"\" region=\"\" country=\"US\">Pittsburgh, PA</loc>\n
        \ <ls>2012-03-14T14:51:28Z</ls>\n  <dp>2012-03-14T14:51:28Z</dp>\n  <e>Keep
        the Nation moving forward in the Army National Guard. In the Guard, the Truck
        Driver is the Soldier who makes sure other Soldiers and their supplies get
        where they need to go, either by supervising the transportation team or by...</e>\n</r>\n<r>\n
        \ <jt>Counselor/Addiction Specialist</jt>\n  <cn url=\"\">Tadiso</cn>\n  <src
        url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTU[...]
