---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-fasdfasdfad?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<sherror>\n
        \ <error type=\"noresults\" code=\"1.1\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Tue, 13 Mar 2012 16:56:04 GMT
recorded_with: VCR 2.0.0
