---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/l-15217/q-ruby?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<shrs>\n<rq
        url=\"http://api.simplyhired.com/a/jobs-api/xml_v2/q-ruby/l-15217\">\n  <t>Ruby
        Jobs - Pittsburgh, PA 15217</t>\n  <dt>2012-03-15T18:44:13Z</dt>\n  <si>0</si>\n
        \ <rpd>10</rpd>\n  <tr>104</tr>\n  <tv>95</tv>\n  <em url=\"\"/>\n<h>\n  <kw
        pos=\"1\"/>\n</h>\n</rq>\n<rs>\n<r>\n  <jt>Ruby on Rails Developer</jt>\n
        \ <cn url=\"\">Intermedix</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTUwJnN0YW1wPTIwMTItMDMtMTUgMTE6NDQ6MTMmcHVibGlzaGVyX2NoYW5uZWxfaWRzPSZhX2lkPTMxOTY3JmNfaWQ9MTM0MTMmY3BjPTAuMSZwb3M9MSZoYXNoPTMzYzc1YzA3ZGEwNjYxYjdjODQyZTM2NGM2MjhiNTNl%3Bf557170b23c500b2dfecb7476033af89/jobkey-14831.619204/pub_id-41106/cjp-0\">Dice</src>\n
        \ <ty>sponsored</ty>\n  <loc cty=\"Pittsburgh\" st=\"PA\" postal=\"15217\"
        county=\"\" region=\"\" country=\"US\">Pittsburgh, PA</loc>\n  <ls>2012-03-01T12:34:00Z</ls>\n
        \ <dp>2012-03-01T12:34:00Z</dp>\n  <e>across the United States to provide
        leading technology Ruby on Rails and Application Service Provider (ASP) based
        ... ManagementOperations or Healthcare a plus Technical Skills Ruby on Rails
        Javascript Ajax and familiarity with...</e>\n</r>\n<r>\n  <jt>Ruby Developer,
        ROR Developer, Rails Developer, RSPec, Agile, UI</jt>\n  <cn url=\"\">Cybercoders</cn>\n
        \ <src url=\"http://api.simplyhired.com/a/job-details/view/jobkey-5934[...]
