---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-ruby?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<shrs>\n<rq
        url=\"http://api.simplyhired.com/a/jobs-api/xml_v2/q-ruby\">\n  <t>Ruby Jobs</t>\n
        \ <dt>2012-03-13T17:09:39Z</dt>\n  <si>0</si>\n  <rpd>10</rpd>\n  <tr>16524</tr>\n
        \ <tv>1000</tv>\n  <em url=\"\"/>\n<h>\n  <kw pos=\"1\"/>\n</h>\n</rq>\n<rs>\n<r>\n
        \ <jt>Ruby Developer Job</jt>\n  <cn url=\"\">Rackspace</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTUwJnN0YW1wPTIwMTItMDMtMTMgMTA6MDk6MzkmcHVibGlzaGVyX2NoYW5uZWxfaWRzPSZhX2lkPTM1NDkyJmNfaWQ9MTQxMjcmY3BjPTAuNjYmcG9zPTEmaGFzaD1lZmYzNGQzMGZjOTkwMmRlY2QyNGMzMmVjNmY4N2U4OA%3D%3D%3B2d3754b14c4205e786e2dff0d51d0cc5/jobkey-15366.1762587A0/pub_id-41106/cjp-0\">Rackspace</src>\n
        \ <ty>sponsored</ty>\n  <loc cty=\"Austin\" st=\"TX\" postal=\"78759\" county=\"\"
        region=\"\" country=\"US\">Austin, TX</loc>\n  <ls>2012-03-06T05:46:45Z</ls>\n
        \ <dp>2012-03-06T05:46:45Z</dp>\n  <e>Job Details Ruby Developer - 12925 This
        details all the information about the job posting. To submit your rsum/CV,
        click ... Rsum/CV to this Job' button. Show Instructions Job Title Ruby Developer
        Category Software Development Requisition #...</e>\n</r>\n<r>\n  <jt>Ruby
        on Rails Software Engineer</jt>\n  <cn url=\"\">Cameron Craig Group</cn>\n
        \ <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b[...]
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-ruby?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&l=ZIPCODE&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<sherror>\n
        \ <error type=\"noresults\" code=\"1.1\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Tue, 13 Mar 2012 18:51:37 GMT
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-fasdfasdfad?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n <sherror>\n
        \ <error type=\"invalidparam\" code=\"\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Thu, 15 Mar 2012 00:01:43 GMT
recorded_with: VCR 2.0.0
