---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-ruby%20on%20rails?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<shrs>\n<rq
        url=\"http://api.simplyhired.com/a/jobs-api/xml_v2/q-ruby+on+rails\">\n  <t>Ruby
        On Rails Jobs</t>\n  <dt>2012-03-15T18:06:39Z</dt>\n  <si>0</si>\n  <rpd>10</rpd>\n
        \ <tr>6619</tr>\n  <tv>1000</tv>\n  <em url=\"\"/>\n<h>\n  <kw pos=\"1\"/>\n</h>\n</rq>\n<rs>\n<r>\n
        \ <jt>Ruby on Rails Software Engineer</jt>\n  <cn url=\"\">Cameron Craig Group</cn>\n
        \ <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTUwJnN0YW1wPTIwMTItMDMtMTUgMTE6MDY6MzkmcHVibGlzaGVyX2NoYW5uZWxfaWRzPSZhX2lkPTM3NzU3JmNfaWQ9MTQ1MjMmY3BjPTAuMzYmcG9zPTEmaGFzaD1mNmM4ZTE1OGUyM2M1ZjFjZDFjZGY4OGNjZjk4YmUxNQ%3D%3D%3Be8461854e41a7824931ba62839959a20/jobkey-bfe8f1e12d26a669ee5165f488153e5fa33ba/pub_id-41106/cjp-0\">Cameron
        Craig Group</src>\n  <ty>sponsored</ty>\n  <loc cty=\"Boston\" st=\"MA\" postal=\"02121\"
        county=\"\" region=\"\" country=\"US\">Boston, MA</loc>\n  <ls>2012-03-01T21:18:43Z</ls>\n
        \ <dp>2012-03-01T21:18:43Z</dp>\n  <e>with a heavy hands on development background
        in Ruby on Rails, Java. They are an early stage venture backed ... gather
        requirements through product release - Ruby, Ruby on Rails, Java, memcached,
        load balancing, linux, unix,...</e>\n</r>\n<r>\n  <jt>Ruby and Rails Developers</jt>\n
        \ <cn url=\"\">Kforce Technology</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTUwJnN0YW1wP[...]
