---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<sherror>\n
        \ <error type=\"noresults\" code=\"1.1\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Fri, 16 Mar 2012 18:22:15 GMT
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/l-15217/q-ruby?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<shrs>\n<rq
        url=\"http://api.simplyhired.com/a/jobs-api/xml_v2/q-ruby/l-15217\">\n  <t>Ruby
        Jobs - Pittsburgh, PA 15217</t>\n  <dt>2012-03-16T18:41:14Z</dt>\n  <si>0</si>\n
        \ <rpd>10</rpd>\n  <tr>103</tr>\n  <tv>93</tv>\n  <em url=\"\"/>\n<h>\n  <kw
        pos=\"1\"/>\n</h>\n</rq>\n<rs>\n<r>\n  <jt>Ruby on Rails Developer</jt>\n
        \ <cn url=\"\">Intermedix</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/jobkey-5893769b0cb4b71d0f1eb1c733ef7e6c3fb54c/rid-rid_2032008754f63894a5ffb79.37492766/cjp-0/hits-103?aff_id=41106\">Intermedix</src>\n
        \ <ty>organic</ty>\n  <loc cty=\"Pittsburgh\" st=\"PA\" postal=\"15240\" county=\"\"
        region=\"\" country=\"US\">Pittsburgh, PA</loc>\n  <ls>2012-03-15T23:22:38Z</ls>\n
        \ <dp>2012-03-15T23:22:38Z</dp>\n  <e>across the United States to provide
        leading technology, Ruby on Rails, and Application Service Provider (ASP)
        based ... Management/Operations or Healthcare a plus Technical Skills Ruby
        on Rails Javascript, Ajax, and familiarity with...</e>\n</r>\n<r>\n  <jt>Associate
        Engagement Lead, Ruby on Rails (RoR) / Samasource</jt>\n  <cn url=\"\">Development
        Solutions Organization</cn>\n  <src url=\"http://api.simplyhired.com/a/job-de[...]
