---
http_interactions:
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<sherror>\n
        \ <error type=\"noresults\" code=\"1.1\">\n  <title></title>\n  <subtitle></subtitle>\n
        \ <text></text>\n  <base></base>\n </error>\n</sherror>\n "
  recorded_at: Mon, 19 Mar 2012 19:15:18 GMT
- request:
    method: get
    uri: http://api.simplyhired.com/a/jobs-api/xml-v2/q-java?cflg=r&clip=74.94.200.198&jbd=joblander.jobamatic.com&pshid=41106&ssty=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"no\" ?>\n<!DOCTYPE
        shrs SYSTEM \"http://api.simplyhired.com/c/jobs-api/html/sr2.dtd\">\n\n<shrs>\n<rq
        url=\"http://api.simplyhired.com/a/jobs-api/xml_v2/q-java\">\n  <t>Java Jobs</t>\n
        \ <dt>2012-03-19T19:25:51Z</dt>\n  <si>0</si>\n  <rpd>10</rpd>\n  <tr>125999</tr>\n
        \ <tv>812</tv>\n  <em url=\"\"/>\n<h>\n  <kw pos=\"1\"/>\n</h>\n</rq>\n<rs>\n<r>\n
        \ <jt>Rockstar Senior / Sr. Java Back-End Developer</jt>\n  <cn url=\"\">Overactdev
        Technology Partners</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6b25lPTYmaXA9JmNvdW50PTUwJnN0YW1wPTIwMTItMDMtMTkgMTI6MjU6NTImcHVibGlzaGVyX2NoYW5uZWxfaWRzPSZhX2lkPTIzMDQ3JmNfaWQ9MTA3NDcmY3BjPTEuNTEmcG9zPTEmaGFzaD1kZmNiNzA5ZmY5N2Y1Njk4YTNhYmQ1N2ZhNTQ5ZDU2Zg%3D%3D%3B9ddffc38047a6ab9b82f510f6ed41516/jobkey-6256.669135/rid-rid_19849026424f67883fc308d5.78541130/pub_id-41106/cjp-0\">OveractDev
        Technology Partners</src>\n  <ty>sponsored</ty>\n  <loc cty=\"Mountain View\"
        st=\"CA\" postal=\"94043\" county=\"\" region=\"\" country=\"US\">Mountain
        View, CA</loc>\n  <ls>2012-03-17T01:23:49Z</ls>\n  <dp>2012-03-17T01:23:49Z</dp>\n
        \ <e>Silicon Valley. ----------------- keywords: Back end Core Java Spring
        framework Struts Ajax Velocity Unix Linux Jboss ... VMWare Java 5 &amp; 6
        JSTL Oracle ADF MyFaces XDoclet RMI Java Beans Ant Facelets AWT Swing PKI
        security Cryptography...</e>\n</r>\n<r>\n  <jt>Java Developer / Software Engineer</jt>\n
        \ <cn url=\"\">SRA International</cn>\n  <src url=\"http://api.simplyhired.com/a/job-details/view/cparm-cF9pZD00MTEwNiZ6[...]
[...]
